<mat-card *ngIf="lunchList" class="ruokalistaKortti">
  <mat-card-header>
    <mat-card-title>
      <a
        href="https://tassa.fi/kohde/{{ lunchList?.restaurantid }}"
        style="color:inherit"
        >{{ lunchList?.nimi }}
      </a>
    </mat-card-title>

    <mat-card-subtitle>{{ lunchList?.date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="card-content-size">
    <span [innerHtml]="lunchList.lunch"></span>
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button>Ok</button> -->
  </mat-card-actions>
</mat-card>
