.ruokalistaKortti {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.lunchlistNotToday {
  background: #d1d1d1
}
.lunchlistHasVotes {
  border: black 3px solid;
}

.thisday {
  font-weight: bold;
}
