.container {
  padding: 30px;
  width: 60%;
  margin: auto;
  min-height: 100%;
}

.card {
  flex: 0 1 24%;
  margin: 10px;
}

mat-card {
  margin: 20px;
}

app-lunchofday-today,
app-lunchofday-history {
  margin: 30px;
}
