<div class="container" fxLayout="row wrap" fxFlex="100%" fxFlex.lt-md="100%">
  <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <mat-form-field fxFlex="30%" fxFlex.lt-sm="100%">
      <mat-select
        placeholder="Restaurant"
        [(ngModel)]="selectedRestaurant"
        (selectionChange)="getLunchListRestaurantPicker($event)"
      >
        <mat-option
          *ngFor="let restaurant of restaurants$ | async"
          [value]="restaurant"
          >{{ restaurant?.nimi }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="30%" fxFlex.lt-sm="100%">
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Choose a date"
        (dateChange)="getLunchListDatePicker($event)"
        [matDatepickerFilter]="thisWeekMax"
        [(ngModel)]="selectedDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-checkbox
      class="example-margin"
      name="tassalista"
      (change)="changeLink($event)"
      [(ngModel)]="showHandheldLists"
    >Näytä käsinylläpidettävät
    </mat-checkbox>
  </div>

  <ng-container *ngIf="selectedRestaurant != null; else elseBlock"
  >
    <div
    fxLayout="row-reverse wrap"
    fxLayout.lt-lg="row wrap"
    fxLayoutAlign="start stretch center"
    fxLayoutGap="1rem grid"
    fxFlex="100%"
    style="flex-direction: row-reverse"
  >

      <div
        *ngFor="let lunchlist of lunchListRows$ | async"
        fxFlex="14%"
        fxFlex.lt-lg="50%"
        fxFlex.lt-sm="100%"
      >
        <app-lunch-details [lunchList]="lunchlist"> </app-lunch-details>
      </div>
  </div>
  </ng-container>
  <ng-template #elseBlock>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="start stretch center"
      fxLayoutGap="1rem grid"
      fxFlex="100%"
      style="flex-direction: row-reverse"
    >

    <div

      *ngFor="let lunchlist of lunchListRows$ | async"
      fxFlex="33%"
      fxFlex.lt-lg="50%"
      fxFlex.lt-sm="100%"

    >
      <app-lunch-details [lunchList]="lunchlist"> </app-lunch-details>
    </div>

    </div>
  </ng-template>
</div>
