<!-- <div class="container">
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="wrap">
    <div fxFlex="50%" *ngFor="let lunchlist of lunchListsByRestaurants">
      <app-lunch-details [lunchList]="lunchlist">

      </app-lunch-details>
      <br><br>
    </div>
  </div>
</div> -->

<div class="container">
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" fxLayoutGap="wrap">
    <div fxFlex="30%" *ngFor="let lunchlist of lunchListsByRestaurants" class="cardContainer-size">
      <app-lunch-details [lunchList]="lunchlist">

      </app-lunch-details>
    </div>
  </div>
</div>
