<mat-card>
  <mat-card-title>Lounas historia</mat-card-title>
  <div class="mat-elevation-z8">
    <mat-card>
      <ng-container *ngFor="let lunch of lunchofdayHistory$ | async">
        <mat-card-header>
          <mat-card-title>
            <a href="lunch.link"> {{ lunch.nimi }}</a>
          </mat-card-title>

          <mat-card-subtitle
            >{{ lunch.paiva | date: "dd.MM.yyyy" }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content
          class="card-content-size"
          [innerHTML]="lunch.string_agg"
        >
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>Ok</button> -->
        </mat-card-actions>
      </ng-container>
    </mat-card>
  </div>
</mat-card>
