.container {
  padding: 30px;
  width: 60%;
  margin: auto;
  height: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 24%;
  margin: 10px;
}
