<mat-card-title>Restaurant genres</mat-card-title>
<mat-card-subtitle>Edit restaurant genres</mat-card-subtitle>
<mat-card-content>
  <form>
    <mat-select
      placeholder="Valitse ravintola"
      [(ngModel)]="restaurantGenre"
      name="item"
    >
      <mat-option
        *ngFor="let restaurantgenre of restaurantGenres"
        [value]="restaurantgenre"
      >
        {{ restaurantgenre?.genrename }}
      </mat-option>
    </mat-select>

    <mat-form-field>
      <input
        matInput
        [(ngModel)]="restaurantGenre.genrename"
        placeholder="name"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="apikey"
        type="password"
        placeholder="apikey"
      />
    </mat-form-field>
  </form>
</mat-card-content>
<mat-card-actions>
  <button mat-raised-button color="primary" (click)="updateRestaurantGenre()">
    Paivita
  </button>
  <button mat-raised-button color="primary" (click)="deleteRestaurantGenre()">
    Poista
  </button>
  <button mat-raised-button color="primary" (click)="createRestaurantGenre()">
    Add
  </button>
</mat-card-actions>
