@using MTS.Application.LunchList
@using MTS.Application.LunchList.Queries

    <div style="justify-content: flex-start" class="d-flex flex-row flex-grow-1 gap-4">
  @foreach (var lunchListResponse in LunchListRowGroupedByRestaurant)
  {



      <LunchListItem LunchListRow="lunchListResponse">

      </LunchListItem>
  }
    </div>


@code {
  [Parameter]
  public List<LunchListVm> LunchListRowGroupedByRestaurant { get; set; }

}
