<mat-card-title>Ravintolat</mat-card-title>
<mat-card-subtitle>Muokkaa ravintoloita</mat-card-subtitle>
<mat-card-content>
  <form>
    <mat-select
      name="ravintola"
      placeholder="Valitse ravintola"
      [(ngModel)]="restaurant"
      name="item"
      (selectionChange)="restaurantSelectionChanges()"
    >
      <mat-option
        name="let index"
        *ngFor="let restaurant of restaurants"
        [value]="restaurant"
      >
        {{ restaurant?.nimi }}
      </mat-option>
    </mat-select>

    <mat-form-field>
      <input
        matInput
        name="name"
        [(ngModel)]="restaurant.nimi"
        placeholder="nimi"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        name="apiid"
        [(ngModel)]="restaurant.apiid"
        placeholder="apiid"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="link"
        [(ngModel)]="restaurant.linkki"
        placeholder="linkki"
      />
    </mat-form-field>
    <mat-checkbox
      class="example-margin"
      name="tassalista"
      [(ngModel)]="restaurant.tassalista"
      >Tässä.fi-lista
    </mat-checkbox>
    <mat-form-field>
      <mat-chip-list aria-label="Ravintolan genret">
        <mat-chip
          color="primary"
          *ngFor="let genre of genresofrestaurant$ | async"
          [removable]="true"
          (removed)="removeGenre(genre)"
          selected
          >{{ genre.genrename }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-form-field>
    <div class="addRestaurantGenre" fxLayout="row">
      <mat-select
        placeholder="Valitse genre"
        name="restaurantGenre"
        [(ngModel)]="restaurantGenre"
        name="item"
        fxFlex="60%"
      >
        <mat-option *ngFor="let genre of restaurantGenres" [value]="genre">
          {{ genre?.genrename }}
        </mat-option>
      </mat-select>
      <button
        mat-raised-button
        color="primary"
        (click)="addGenreToRestaurant()"
        fxFlex="30%"
      >
        Lisää genre ravintolalle.
      </button>
    </div>
    <mat-form-field>
      <input
        matInput
        name="apikey"
        [(ngModel)]="apikey"
        type="password"
        placeholder="apikey"
      />
    </mat-form-field>
  </form>
</mat-card-content>
<mat-card-actions>
  <button mat-raised-button color="primary" (click)="updateRestaurant()">
    Paivita
  </button>
  <button mat-raised-button color="primary" (click)="deleteRestaurant()">
    poista
  </button>
</mat-card-actions>
